<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nandio.pio simulation result</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <style>
      :root {
        color-scheme: light;
        --accent: lightblue;
      }
      .center-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: none;
        height: auto;
        background: white;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>
        <a href="https://github.com/wipeseals/nandio.pio">NANDIO.PIO</a>
        Simulation Result
      </h1>
      <p>
        This page shows the simulation result of
        <a href="https://github.com/wipeseals/nandio.pio"
          >wipeseals/nandio.pio</a
        >
        on the simulator.
      </p>
      <ul>
        <li v-for="r in results">
          <h2>{{ r.name }}</h2>
          <h3>event</h3>
          <p v-if="r.event.length === 0">[empty]</p>
          <table v-else>
            <thead>
              <tr>
                <th>cycle</th>
                <th>pc</th>
                <th>event</th>
                <th>ceb0</th>
                <th>ceb1</th>
                <th>io</th>
                <th>io_dir</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="e in r.event">
                <td>{{ e.cycle }}</td>
                <td>{{ e.pc }}</td>
                <td>{{ e.event }}</td>
                <td>{{ e.ceb0 }}</td>
                <td>{{ e.ceb1 }}</td>
                <td>{{ e.io }}</td>
                <td>{{ e.io_dir }}</td>
              </tr>
            </tbody>
          </table>
          <h3>received_from_rx_fifo</h3>
          <p v-if="r.received_from_rx_fifo.length === 0">[empty]</p>
          <table v-else>
            <thead>
              <tr>
                <th>index</th>
                <th>data</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(d, idx) in r.received_from_rx_fifo">
                <td>{{ idx }}</td>
                <td>0x{{ d.toString(16) }}</td>
              </tr>
            </tbody>
          </table>
          <h3>wave</h3>
          <img :src="r.wave" class="center-img" />
        </li>
      </ul>
      <div v-if="error">{{ error }}</div>
    </div>

    <script type="module" src="./index.js"></script>
  </body>
</html>
